{% include 'myblog/header.html' %}
    <div style="display: flex; flex-direction: row; margin-top: 20px; justify-content: space-evenly;">
        <div style="width: 55%; display: flex; flex-direction: column; justify-content: start;">
            <h2 class="text-center header-text"> hello_world </h2>
            <p class="general-text" style="text-align: justify;">
                Hello! I am Vinod Sridhar Dalavai (VSD) and I am a software engineer at LSEG. I like building things
                and I do so with a passion. I am fascinated by Distributed Systems and Systems Design and aim to gain a 
                deep understanding of these subjects. As a result, I often find myself indulging in reading interesting
                whitepapers and blog articles. Sometimes when I am bored of reading or doing hobby projects, I like to
                pick my brain by solving some interesting coding challenges.
            </p>
            <p class="general-text" style="text-align: justify;">
                Besides technology, I love music, cooking and reading. I have started playing guitar most recently. It
                has been less than a year since I have dived into this hobby and it's going well. Since I listen to
                metal and hard rock, I picked up an electric guitar and am focusing of playing some cool solos and licks.
            </p>
            <p class="general-text" style="text-align: justify;">
                Stereotypically, I also love coffee. Quite often, I like to venture out in the city in search of cozy 
                cafes where I can spend a quiet day sipping coffee and reading or coding. This is probably the 5th
                iteration of my website and this time I am using GoLang. I've really started to enjoy GoLang and hope to
                explore more.
            </p>
            <div style="display: flex; flex-direction: row; justify-content: space-evenly">
                <img src="https://github-readme-stats.vercel.app/api?username=dsvinod90&theme=radical&show_icons=true"
                    alt="My Github Stats"
                    style="width: max-content; height: max-content;">
                <div class="badge-base LI-profile-badge"
                    data-locale="en_US"
                    data-size="large" 
                    data-theme="dark" 
                    data-type="HORIZONTAL" 
                    data-vanity="vinoddalavai" 
                    data-version="v1"
                    style="width: fit-content; margin-left: 10%; margin-right: 10%"></div>
            </div>
        </div>
        <div style="width: 35%">
            <h2 class="text-center header-text"> tech </h2>
            <table class="table table-striped general-text">
                <tbody>
                  <tr>
                    <th scope="row">Languages</th>
                    <td>Python, Java, Ruby, Javascript, Go, C, Bash</td>
                  </tr>
                  <tr>
                    <th scope="row">Frameworks</th>
                    <td>Django, Flask, Spring Boot, Rails, React, MERN, Express.JS, Node.JS</td>
                  </tr>
                  <tr>
                    <th scope="row">Relational Databases</th>
                    <td colspan="2">MySQL, PostgreSQL, SQLite </td>
                  </tr>
                  <tr>
                    <th scope="row">NoSQL Databases</th>
                    <td colspan="2">MongoDB, DynamoDB, Redis, Apache Spark</td>
                  </tr>
                  <tr>
                    <th scope="row">CI/CD</th>
                    <td colspan="2">Gitlab, Jenkins</td>
                  </tr>
                  <tr>
                    <th scope="row">Dev Tools</th>
                    <td colspan="2">Git, Gitlab, Postman, cURL, Grafana, VIM</td>
                  </tr>
                  <tr>
                    <th scope="row">Web</th>
                    <td colspan="2">REST, JSON, AJAX</td>
                  </tr>
                  <tr>
                    <th scope="row">Concepts</th>
                    <td colspan="2">Data Structures, Algorithms, Systems Design, API Design, Distributed Systems</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% comment %} <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <img src="https://github-readme-stats.vercel.app/api?username=dsvinod90&theme=radical&show_icons=true"
            alt="My Github Stats"
            style="width: max-content; height: max-content;">
        <div class="badge-base LI-profile-badge"
            data-locale="en_US"
            data-size="large" 
            data-theme="dark" 
            data-type="HORIZONTAL" 
            data-vanity="vinoddalavai" 
            data-version="v1"
            style="width: fit-content; margin-left: 10%; margin-right: 10%"></div>
    </div> {% endcomment %}
{% include 'myblog/footer.html' %}
